<div class="container-fluid">
  <app-app-nav></app-app-nav>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</div>
<div class="container-fluid">
<div class="header">
  <app-app-header></app-app-header>
</div>
<div>
<app-app-container></app-app-container>
</div>
</div>
<footer class="footer">
      <div class="container-fluid">
      <app-app-footer></app-app-footer>
      </div>
</footer>