
 <div class="row">
   <div class="col-md-12">
     <input type="text" [value]="val" class="cal"><br>
     <input type="button" [value]="op" value="+" (click)="getOperator(+)" class="btn btn-primary">
     <input type="button" value="-" class="btn btn-primary">
     <input type="button" value="*" class="btn btn-primary">
     <input type="button" value="/" class="btn btn-primary"><br>

     <input type="button" value="1" (click)="setVal(1)" class="btn btn-primary">
     <input type="button" value="2" (click)="setVal(2)" class="btn btn-primary">
     <input type="button" value="3" (click)="setVal(3)" class="btn btn-primary">
     <input type="button" value="4" (click)="setVal(4)" class="btn btn-primary">
     <input type="button" value="5" (click)="setVal(5)" class="btn btn-primary">
     <input type="button" value="6" (click)="setVal(6)" class="btn btn-primary">
     <input type="button" value="7" (click)="setVal(7)" class="btn btn-primary">
     <input type="button" value="8" (click)="setVal(8)" class="btn btn-primary">
     <input type="button" value="9" (click)="setVal(9)" class="btn btn-primary">
     <input type="button" value="0" (click)="setVal(0)" class="btn btn-primary">
        </div>
 </div>
