<div class="container">
<div class="card">
    <div class="col-md-12">
      <img src="../../assets/2-23180_instagram-1-logo-png-transparent-instagram-name-logo.png"height="63px;" width="182px;">
      <form action="action.php">
        <input type="text" placeholder="Username or Email" id="user">
        <div>
        <input type="password" placeholder="password" id="pwd">
        </div>
        <div>
          <input type="button" value="LogIn" class="btn btn-primary">
        </div>
      </form>
    </div>
</div>
</div>